body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background: #f0f0f0;
    color: #333;
}

header {
    background: linear-gradient(135deg, #1a73e8, #833ab4);
    color: white;
    padding: 1em 0;
    text-align: center;
    border-radius: 25px;
    box-shadow: #333;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 10px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

main {
    padding: 2em;
}

section {
    margin-bottom: 2em;
    background: white;
    padding: 1em;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.model {
    text-align: center;
    margin-top: 1em;
    box-sizing: 15;
    transition: transform 0.1s ease-in-out;
}

.button_bn{
    background-color: #ffa500;
    border-radius: 15px;
    box-shadow: #c51092;
    
}

model-viewer {
    width: 100%;
    height: 400px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
}

.sketchfab-embed-wrapper {
    background: #2e2e3e;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    transition: transform 0.2s ease-in-out;
}



.sketchfab-embed-wrapper:hover {
    transform: translateY(-10px);
}

.sketchfab-embed-wrapper iframe {
    width: 100%;
    height: 300px;
    border: none;
    border-radius: 8px;
}

.sketchfab-embed-wrapper p {
    font-size: 13px;
    margin: 10px 0 0 0;
    color: #cfcfcf;
    text-align: center;
}

.sketchfab-embed-wrapper a {
    font-weight: bold;
    color: #1caad9;
    text-decoration: none;
}

.sketchfab-embed-wrapper a:hover {
    color: #ffa500;
}

footer {
    text-align: center;
    padding: 1em 0;
    background: #4CAF50;
    color: white;
    position: fixed;
    width: 100%;
    bottom: 0;
}
