body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
    
    color: #ffffff;
}
.head u{

     color: #ed8600;
}

.heading {
    text-align: center;
    margin: 20px 0;
}

.heading h1 {
    color: #363535;
    font-size: 2.5em;
    transition: transform 0.2s ease-in-out;
}

.heading h1:hover {
    transform: scale(1.1);
}

.container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
}

.sketchfab-embed-wrapper {
    background: #2e2e3e;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    transition: transform 0.2s ease-in-out;
}

.sketchfab-embed-wrapper:hover {
    transform: translateY(-10px);
}

.sketchfab-embed-wrapper iframe {
    width: 100%;
    height: 300px;
    border: none;
    border-radius: 8px;
}

.sketchfab-embed-wrapper p {
    font-size: 13px;
    margin: 10px 0 0 0;
    color: #cfcfcf;
    text-align: center;
}

.sketchfab-embed-wrapper a {
    font-weight: bold;
    color: #1caad9;
    text-decoration: none;
}

.sketchfab-embed-wrapper a:hover {
    color: #ffa500;
}
